<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="image"> 
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-4 mt-md-0 mt-2">
          <h5 class="text-uppercase" id="search">Search</h5>
          <form class="form-inline md-form mr-auto mb-4">
            <input class="form-control mr-sm-3" type="text" placeholder="Search" aria-label="Search">
            <button mdbBtn size="sm" color="warning" outline="true" rounded="true" class="my-2 waves-light"
              mdbWavesEffect type="submit">Search</button>
          </form>
        </div>
        <hr class="clearfix w-100 d-md-none pb-5">
        <div class="col-md-3 mb-md-0 mb-6">
            <h5>Hours</h5>
            <ul class="list-unstyled" id="dede">
              <li>
                <p>Fermé du 5 Décembre jusqu'au 23 Décembre </p>
                <p> </p>
                <p>mardi 05/01	14:00 à 18:00
                  mercredi 06/01	14:00 à 18:00
                  jeudi 07/01	14:00 à 18:00
                  vendredi 08/01	14:00 à 18:00
                  samedi 09/01	13:00 à 18:00
                  mardi 12/01	14:00 à 18:00
                  mercredi 13/01	14:00 à 18:00
                  jeudi 14/01	14:00 à 18:00
                  vendredi 15/01	14:00 à 18:00
                  </p>
              </li>
              <li>
                <a href="login">Espace membre</a>
              </li>
              <li>
                <a href="about">Qui somme nous ? </a>
              </li>
            </ul>
          </div>
          <div class="col-md-3 mb-md-0 mb-3">
            <h5 class="text-uppercase">Contact us</h5>
            <ul class="list-unstyled">
              <li>
                <p>+33 (0)1 53 59 12 60</p>
              </li>
              <li>
                <p>info@dauphine.org</p>
              </li>
              <li>
                <p>Place du Maréchal de Lattre de Tassigny, </p>
                <p>
                  75016 Paris
                </p>
                <img class="maps" src="../../assets/img/maps.png"/>
              </li>
              <li>
            </ul>
          </div>
      </div>
    </div>


    <footer class="page-footer font-small blue">
      <div class="container">
          <div class="row">
                <div class="col-md-12 py-2">
                    <div class="mb-5 flex-center">
                        <a class="fb-ic">
                            <mdb-icon fab icon="facebook" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                        </a>
                        <a class="tw-ic">
                            <mdb-icon fab icon="twitter" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                        </a>
                        <a class="gplus-ic">
                            <mdb-icon fab fab icon="google-plus" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                        </a>
                        <a class="li-ic">
                            <mdb-icon fab icon="linkedin" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                        </a>
                        <a class="ins-ic">
                            <mdb-icon fab icon="instagram" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                        </a>
                        <a class="pin-ic">
                            <mdb-icon fab icon="pinterest" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                        </a>
              </div>
            </div>
          </div>
        </div>
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="#">Asma Anastasiya Stiva </a>
      </div>
    </footer>
</div>
