<mat-list>
    <mat-list-item routerLinkActive="active">
        <mat-icon>home</mat-icon> Dashboard
    </mat-list-item>
    <mat-list-item routerLinkActive="active">
        <mat-icon>text_fields</mat-icon> Livres
    </mat-list-item>
    <mat-list-item routerLinkActive="active">
        <mat-icon>border_all</mat-icon> Clients
    </mat-list-item>
    <mat-list-item routerLinkActive="active">
        <mat-icon>notifications_none</mat-icon> Réservations
    </mat-list-item>
</mat-list>

<p class="sidebar-title">Help</p>

<mat-list>
    <mat-list-item>
        <mat-icon>library_books</mat-icon> Aide
    </mat-list-item>
    <mat-list-item>
        <mat-icon>question_answer</mat-icon> Contacter Support
    </mat-list-item>
    <mat-list-item>
        <mat-icon>help_outline</mat-icon> FAQ
    </mat-list-item>
</mat-list>