<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content>
        hey
        <br>
        <br>
        <br>
        <br>
        <br>

        <br>
        <br>
        <br>
        <br>
        v
        v

        <br>
        <br>
        coucou
    </mat-sidenav-content>
</mat-sidenav-container>
<!--

      <app-sidebar>

    </app-sidebar>
<mat-sidenav-container class="layout">
    <mat-sidenav #sidenav mode="side" class="layout-sidebar">
        <p>coucou</p>
        <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content class="layout-content">
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
-->