<mat-sidenav-container>
    <mat-sidenav mode="side" opened>Startcoucoucoucoucou
    </mat-sidenav>

    <mat-sidenav-content>
        hey
    </mat-sidenav-content>
</mat-sidenav-container>

<!--

    <mat-sidenav-container class="layout">
    <mat-sidenav>hey fa aona ity ts mipoitra lety </mat-sidenav>
    <mat-sidenav-content>coucou</mat-sidenav-content>
</mat-sidenav-container>
<mat-sidenav #sidenav mode="side" class="layout-sidebar">
    <p>coucou</p>
    <app-sidebar></app-sidebar>
</mat-sidenav>


<mat-sidenav-content class="layout-content">
    <ng-content></ng-content>
</mat-sidenav-content>

-->